html, body, #map-canvas, #mapContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ------------------------------------ */
/* WRAPPER AROUND THE MAP */

#mapContainer {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

#screen_dim {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.6;
}

#screen_dim.dragFocus {
    opacity: 1;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 35px 10px rgba(0, 0, 0, 1);
    box-shadow:         inset 0px 0px 35px 10px rgba(0, 0, 0, 1);
}

/* ------------------------------------ */
/* DEBUG SPANS */

#tracking, #instructions {
    position: absolute;
    right: 0;
    font-size: large;
    box-sizing: border-box;
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid #666;
    text-align: center;
    opacity: 0.8;
    overflow: hidden;
}
#tracking {
    top:49px;
    border-radius: 0 0 0 5px;
    display: none;
}
#instructions {
    top: 0;
    border-radius: 5px 0 0 0;
}

#info_hands, #info_fingers, #info_pan, #info_zoom {
    width: 50%;
    float: left;
    height: 100%;
    padding-top: 2px;
    box-sizing: border-box;
}
#info_hands>span {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
#info_hands>img {
    height: 38px;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}
#info_fingers>span {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
#info_fingers>img {
    height: 35px;
    float: right;
    margin-top: 5px;
    margin-right: 25px;
}

/* ------------------------------------ */
/* CURSOR */

#cursor {
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    border-radius: 13px;
    border: 3px solid black;
    
    display:none;
    
    /*transition: background-color 1.5s ease-out;*/
    
}

#cursor.selecting {
    border-color: green;
}


/* ------------------------------------ */
/* PAN ARROWS */

#arrowUp, #arrowDown, #arrowLeft, #arrowRight {
    height:75px;
    width:75px;
    position:absolute;
    
    padding:0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    
    box-sizing: border-box;
    border: 5px solid #444444;
    border-radius: 50px;
    
    /*box-shadow: 0 0 15px #444;*/
    
}

#arrowDown {
    background-image: url("../img/arr_down.png");
    bottom:15px;
    left:45%;
}

#arrowUp {
    background-image: url("../img/arr_up.png");
    top:15px;
    left:45%;
}

#arrowLeft {
    
    left:15px;
    top:40%;
    background-image: url("../img/arr_left.png");
}

#arrowRight {
    right:15px;
    top:40%;
    background-image: url("../img/arr_right.png");
}

.arrowDefault {
    opacity:0.05;
}

.arrowHover {
    opacity: 0.7;
}

/* ------------------------------------ */
/* ZOOM CONTROLS */

#zoomIn, #zoomOut, #zoomLimit {
    width: 200px;
    height: 200px;
    
    box-sizing: border-box;
    border: 5px solid #444444;
    border-radius: 100px;
    
    position:absolute;
    left:40%;
    bottom:55%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255,255,255);
    opacity: 0.3;
    
    display: none;
}

#zoomIn {
    background-image: url("../img/zoom_in.png");
    display: none;
}

#zoomOut {
    background-image: url("../img/zoom_out.png");
    display: none;
}

#zoomLimit {
    background-image: url("../img/stop.png");
    display: none;
}

#zoomBar {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 60%;
    height: 50px;
    
    background-size: 100% 100%;
    background-image: url("../img/progress_bg.png");

    opacity: 0.5;
    display: none;
}

#zoomProgress {
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0.6;
    background-color: #1ABC9C; /* turquoise */
    width: 179px;
    height: 30px;
}

#target {
    position: absolute;
    top: 48%;
    left: 49%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("../img/target.png");
    opacity: 0.4;
    display: none;
}